<div class="container">
  <div class="row" >
    <div class="col-lg">
      <div class="card-body">
        <div class="card">
  <div class="list-group" *ngFor="let item of testService.tsk">
    <div *ngIf="item.itemId == idd">
      <div class="li_text" role="alert">"{{item.taskName}}" </div>
      <div class="li_text" role="alert">{{item.task}} </div>
      <div><img [src]='item.url' *ngIf="item.url"></div>
    </div>
    <div class="warning" *ngIf="!item.itemId">
      No Doing with this ID
    </div>

  </div>
</div>
      </div>
    </div>
  </div>
</div>
